<%= render "index_nav_bar" %>
<!--HTML from anywhere-->
<div class="flight_search_nav_container">
<div class="flight_search_box">
<%= form_with method: :get do |form| %>
    <div data-controller="flight-selector">
    <div data-action="change->flight-selector#hide_arrival_airport" data-flight-selector-target="arrival_airport">
    Departure Airports:
<%= form.collection_select :departure_id, Airport.order(:code), :id, :code, include_blank: true %>
</div>

<div data-action="change->flight-selector#hide_departure_airport" data-flight-selector-target="departure_airport">
    Arrival airports:
<%= form.collection_select :destination_id, Airport.order(:code), :id, :code, include_blank: true %>
</div>
</div>
<div>
    flight arrivals:
<%= form.collection_select :flight_id, Flight.unique_flight_days, :id, :arrival_day, include_blank: true  %>
</div>
<div>
    Passenger count: 
<%= number_field_tag 'quantity', 1, min: 1, max: 4 %>
</div>
<%= form.submit %>
<% end %>
<% if params.has_key?(:departure_id) %>
<%= form_with method: :get, url: "bookings/new" do |form| %>
    <div class="flight_search_result_box">
    <%= form.collection_radio_buttons :flight_id, Flight.valid_flights(params), :id, :departure_time do |b| %>
    <%= b.label(class: "child") { b.radio_button(class: "child") } %>
    <%= b.text %>
    <% end %>
    <%= form.hidden_field :passengers_num, value: "#{@passenger_count}" %>
    </div>
    <% end %> 
    <% end %>
    <% if @validated_flights.nil? || @validated_flights.empty? %>
    <div class="no_flights_found">
    No valid flights found. Please enter another search to find flights
    </div>
    <% else %>
    <%= form.submit "submit" %>
    <% end %>

    </div>
</div>
</div>
<%= render "footer_nav_bar" %>

