
<%= render "index_nav_bar" %>
<div class="flight_availability">
  Due to adverse weather, the current available flight is NYA to LAX on the 10/29/23.
</div>
<div class="flight_search_nav_container">
  <div class="flight_search_box">
    <%= form_with method: :get, html: {class: "flight_selector"} do |form| %>
        <div class="flight_search_options" data-controller="flight-selector">
            <div class="flight_search_option" data-action="change->flight-selector#hide_arrival_airport" data-flight-selector-target="arrivalAirport">
            <div>  
            Departing From
            </div>
              <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code, include_blank: true %>
            </div>

            <div class="flight_search_option" data-action="change->flight-selector#hide_departure_airport" data-flight-selector-target="departureAirport">
              Arrival Airport
              <%= form.collection_select :destination_airport_id, Airport.order(:code), :id, :code, include_blank: true %>
            </div>
            <div class="flight_search_option">
              Arrival Day
              <%= form.date_field :arrival_time%> 
            </div>
            <div class="flight_search_option">
              <div>
                Passenger Count
              </div>
              <div>
                <%= number_field_tag 'quantity', 1, min: 1, max: 4, class: "number_selector" %>
              </div>
            </div>
             <div class="flight_search_option">
                <div class="center_box">
                  <%= form.submit "Search" %>
                </div>
             </div>
         
    <% end %>
  </div>
  </div>

    <% if @validated_flights.nil? || @validated_flights.empty? %>
      <div class="no_flights_found">
        No valid flights found. Please enter another search to find flights.
      </div>
    <% else %>
      <div class="result_box">
        <%= form_with method: :get, url: "bookings/new" do |form| %>
          <div class="flight_search_result_box">
            <%= form.collection_radio_buttons :flight_id, @validated_flights, :id, :departure_times do |b| %>
              <div class="flight_result_option"">
                <div class="flight_airport">
                  <div class="radio_button_text"> 
                    From <%= b.object.departure_airport.code %> 
                    to <%= b.object.destination_airport.code %>
                  </div>
                  <div>
                    <%= b.label(class: "child") { b.radio_button(class: "child") } %>
                    Departing at <%= b.text %>
                  </div>
                  <div class="radio_button_text">
                    arriving at <%= b.object.arrival_time.to_datetime.strftime('%r') %>
                  </div>
                </div>
                <div class="all_deals">
                  <div>
                    <% b.object.tickets.each do | price | %>
                      <div>
                        <%= form.radio_button :id, price.id %>
                        <%= form.label :ticket_id, "$#{price.price} from #{price.airline.name}" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>       
        <%= form.hidden_field :passengers_num, value: "#{@passenger_count}" %>
        
        <% end %>
        <%= form.submit "submit" %>
        <% end %>   
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "footer_nav_bar" %>