
<%= render "index_nav_bar" %>

<div class="flight_search_nav_container">
  <div class="flight_search_box">
    <%= form_with method: :get do |form| %>
      <div data-controller="flight-selector">
        <div class="flight_search_options">
          <div class="flight_search-column">
            <div class="flight_search_option" data-action="change->flight-selector#hide_arrival_airport" data-flight-selector-target="arrival_airport">
              Departure Airports:
              <%= form.collection_select :departure_id, Airport.order(:code), :id, :code %>
            </div>

            <div class="flight_search_option" data-action="change->flight-selector#hide_departure_airport" data-flight-selector-target="departure_airport">
              Arrival airports:
              <%= form.collection_select :destination_id, Airport.order(:code), :id, :code %>
            </div>
          </div>
          <div class="flight_search_column">
            <div class="flight_search_option">
              Flight arrivals:
              <%= form.collection_select :departure_time, Flight.unique_flight_days, :departure_time, :departure_days %>
            </div>
            <div class="flight_search_option">
              Passenger count: 
              <%= number_field_tag 'quantity', 1, min: 1, max: 4 %>
            </div>
            </div>
          </div>
             <div class="flight_search_option">
               <%= form.submit "Search" %>
             </div>
    <% end %>
    <% if @validated_flights.nil? || @validated_flights.empty? %>
      <div class="no_flights_found">
        No valid flights found. Please enter another search to find flights.
      </div>
    <% end %>
      <% if params.has_key?(:departure_id) %>
        <%= form_with method: :get, url: "bookings/new" do |form| %>
          <div class="flight_search_result_box">
            <%= form.collection_radio_buttons :flight_id, Flight.valid_flights(params), :id, :departure_times do |b| %>
              <div class="flight_result_option"">
                <div>
                  <div class="radio_button_text"> 
                    From <%= b.object.departure_airport.code %> 
                    to <%= b.object.destination_airport.code %>
                  </div>
                  <div>
                    <%= b.label(class: "child") { b.radio_button(class: "child") } %>
                    Departing at <%= b.text %>
                  </div>
                  <div class="radio_button_text">
                    arriving at <%= b.object.arrival_time.to_datetime.strftime('%r') %>
                  </div>
                </div>
              </div>
          </div>
        
        <%= form.hidden_field :passengers_num, value: "#{@passenger_count}" %>

        
        <% end %>
        <%= form.submit "submit" %>
        <% end %>   
      <% end %>
    </div>
  </div>
  </div>
</div>
<%= render "footer_nav_bar" %>