<%= render "top_nav_bar" %>
<div class="flight_search_nav_container" data-controller="promo-code">
<h2> New Day Airlines
</h2>
<div class="mystery" data-action="click->promo-code#prompt">

</div>
  <div class="flight_search_box">
    <div class="booking_form_header" >
      Thanks for choosing New Day Airlines(very real).
      Please make sure to present the email at the terminal.
      Your Flight information can be found below.
    </div>
    <div class="booking_form_information">
      <div>
        Departure time: <%= @flight.departure_time.to_datetime.strftime("%r") %>
      </div>
      <div>
        Departure airport: <%= @flight.departure_airport.code %>
      </div>
      <div>
        Arrival airport: <%= @flight.destination_airport.code %>
      </div>
      <div>
        Flight id:  <%= @flight.id %>
      </div>
        Passenger sign-up form
    </div>
    <%= form_with model: @booking do |form| %>
       
      <%= form.fields_for :passengers do |passenger_form| %>
        <div class="child">
          <%= form.hidden_field :flight_id, value: "#{@flight.id}" %> 
        <div class="flight_search_option">
          <%= passenger_form.label :name %>
          <%= passenger_form.text_area :name, size: "20x1" %>
        </div>
        <div class="flight_search_option">
          <%= passenger_form.label :email %>
          <%= passenger_form.text_area :email, size: "20x1" %>
        </div>
        <div class="flight_search_option">
          <%= passenger_form.label :age %>
          <%= passenger_form.number_field :age, in: 13..120 %>
        </div>
        </div>
          <% end %>
          <div data-promo-code-target="accept" class="promo_acceptance">
          <%= form.radio_button :discount, "yes" %>
          <%= form.label :yes, "yes" %>
          <%= form.radio_button :discount, "no" %>
          <%= form.label :no, "no" %>
          </div>
        <div class="booking_submit_button">
          <%= form.submit %>
        </div>
        
    <% end %>
  </div>
</div>
<%= render "flights/footer_nav_bar" %>