<%= render "top_nav_bar" %>
<div class="flight_search_nav_container">
  <div class="flight_search_box">
    <div class="booking_form_header" >
      Thank you for booking with totally real airlines! We hope you enjoy your flight and come again. You can review your booking information below. Please call 000-000-0000 if you notice any errors.
    </div>
    <div class="booking_information">
      <div>
        Destination airport: <%= @booking.flight.destination_airport.code %>
      </div>
      <div>
        Departure airport: <%= @booking.flight.departure_airport.code %>
      </div>
      <div>
        Departure time: <%= @booking.flight.departure_time.to_datetime.strftime('%y-%m-%d-%r') %>
      </div>
      <div>
        Arrival time: <%= @booking.flight.arrival_time.to_datetime.strftime('%y-%m-%d-%r') %>
      </div>
    </div>
  </div>
</div>
<%= render "flights/footer_nav_bar" %>